<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Announsment" method="post">
        <select name="std" id="STANDARD" required style="width: 30%; height: 40px; border-radius: 7px; font-size: 15px;">
            <option value="standrad">--Select--</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
          </select>
          <br>
          <input type="date" name="date" id="">
          <br>
          <textarea name="message" id="" cols="50" rows="10"></textarea>
          <br>
          <button type="submit" style="background-color: rgb(145, 186, 164); height: 30px; margin-top: 20px;
          padding-bottom: 30px; width: 100px; border-radius: 20px;">Submit</button>
    </form>
</body>
</html>